{% extends "sheet.html" %}
{%- from "baseframe/forms.html" import ajaxform %}
{% block title %}{{ user.fullname }}{% endblock %}
{% block canonical_url %}
  {%- if g.board and g.board.not_root %}
    <link rel="canonical" href="{{ user.url_for(subdomain=none) }}" />
    <meta property="og:url" content="{{ user.url_for(subdomain=none) }}" />
  {%- else %}
    <link rel="canonical" href="{{ request.base_url }}" />
    <meta property="og:url" content="{{ request.base_url }}" />
  {%- endif %}
{% endblock %}
{%- block image_src %}
  {%- with avatar = user|avatar_url %}
    {%- if avatar %}
      <link rel="image_src" href="{{ avatar }}" />
      <meta property="og:image" content="{{ avatar }}" />
    {%- else %}
      {{ super() }}
    {%- endif %}
  {%- endwith %}
{%- endblock %}
{% block pageheaders %}
  <meta name="robots" content="nofollow" />
{% endblock %}
{% block content %}
  <div itemscope itemtype="http://schema.org/Article" class="sheet">
    <div class="resume section first">
      <section class="resume__basics">
        <div class="row contain-height">
          <div class="col-xs-4 relative contain-height">
            <section class="resume__identity vertical-center">
              <h1>{{ resume.basics.name }}</h1>
              <h4>{{ resume.basics.label }}</h4>
            </section>
            <!-- <section class="socialmedia">
              {% for profile in resume.basics.profiles %}
                <a href="{{ profile.url }}"><i class="{{ profile.icon }}"></i>&nbsp;{{ profile.username }}</a>
              {% endfor %}
            </section> -->
          </div>
          <div class="col-xs-4 relative contain-height">
            {% if resume.basics.picture %}
                <img class="resume__avatar vertical-center" src="{{ resume.basics.picture }}" alt="">
            {% endif %}
          </div>
          <div class="col-xs-4 relative contain-height">
            <section class="resume__contact vertical-center">
              <div>
                <i class="fa fa-envelope-o"></i>
                <a href="mailto:{{ resume.basics.email }}">{{ resume.basics.email }}</a>
              </div>
              <div>
                <i class="fa fa-phone"></i>
                <a href="tel:{{ resume.basics.phone }}">{{ resume.basics.phone }}</a>
              </div>
              {% if resume.basics.website %}
                  <div>
                    <i class="fa fa-link"></i>
                    <a href="{{ resume.basics.website }}" target="_blank">{{ resume.basics.website }}</a>
                  </div>
                {% endif %}
              <div>
                <i class="fa fa-map-marker"></i>
                <span>{{ resume.basics.location.city }}</span>
              </div>
            </section>
          </div>
        </div>
      </section>
      <section class="resume__projects">
        <h2 class="resume__section-title">Projects</h2>
        {% for project in resume.projects %}
          <div class="resume__projects-item">
            <div class="row">
              <!-- <div class="col-sm-2 gray">Project</div> -->
              <div class="col-sm-12">
                <strong>{{ project.title }}</strong>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-sm-2">Role</div> -->
              <div class="col-sm-12">
                {{ project.role }}
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-sm-2">Links</div> -->
              {% if project.source %}
                <div class="col-sm-12">
                  <strong>source: </strong>
                  <a href="{{project.source}}" target="_blank">{{project.source}}</a>
                </div>
              {% endif %}
              {% if project.website %}
                <div class="col-sm-12">
                  <strong>website: </strong>
                  <a href="{{project.website}}" target="_blank">{{project.website}}</a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </section>
      <section class="resume__skills">
        <h2 class="resume__section-title">Skills</h2>
        {% for skill in resume.skills %}
          <div class="row">
            <div class="col-sm-4">
              {{ skill.name }}
            </div>
            <div class="col-sm-4">
              <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-{{ skill.level }}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              {% for keyword in skill.keywords %}
                <label class="label label-warning">{{ keyword }}</label>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </section>
      <section class="resume_profiles">
        <h2 class="resume__section-title">Social Profiles</h2>
        <div class="text-center">
          {% for profile in resume.basics.profiles %}
            <a href="{{ profile.url }}"><i class="{{ profile.icon }}"></i>&nbsp;&nbsp;{{ profile.username }}</a>
          {% endfor %}
        </div>
      </section>
      <section class="resume__work">
        <h2 class="resume__section-title">Experience &amp; Education</h2>
        <ul>
          {% for work in resume.work %}
            <li>
              <h4>
                <a href="{{ work.website }}" target="_blank">{{ work.company }}</a>
              </h4>
              <h5>{{ work.position }}</h5>
              <p>{{ work.summary }}</p>
              <!-- <ul>
                {% for highlight in work.highlights %}
                  <li>{{ highlight }}</li>
                {% endfor %}
              </ul> -->
              <time>{{ work.startDate }} - {{ work.endDate }}</time>
            </li>
          {% endfor %}
          {% for education in resume.education %}
            <li>
              <h4>{{ education.institution }}</h4>
              <h5>{{ education.studyType }} in {{ education.area }}</h5>
              <p>GPA: {{ education.gpa }}</p>
              <time>{{ education.startDate }} - {{ education.endDate }}</time>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
{% endblock %}
